body {
  font-family: "Open Sans", san-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 21px 24px 0 24px;
}

.logo-icon {
  fill: #28a745;
  padding-right: 5px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  line-height: 1.32;
  color: #28a745;
  margin-bottom: 12px;
}

.logo-span {
  color: #fff;
}

.header-nav {}

.header-list {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 22px;
  cursor: pointer;
}

.header-item {}

.header-list-link {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  transition: color 250ms ease-in-out;
}

.header-list-link:hover,
.header-list-link:focus {
  color: #39c75a;
}

/* Hero */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111;
  /* padding: 282px 0; */
  padding: 142px 37px 96px 37px;
}

@media screen and (--webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob@2x.jpg);
  }
}

.hero-title {
  font-weight: 300;
  font-size: 52px;
  line-height: 1.7;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 22px;
  line-height: 1.7;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 24px;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #28a745;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #39c75a;
}

/*Section 1 About*/

#about {
  background: #28a745;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-img {
  display: flex;
  width: 320px;
  height: 220px;
}

.about-text {
  font-size: 18px;
  line-height: 1.66;
  color: #fff;
  padding-bottom: 8px;
}

.about-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #fff;
  max-width: 204px;
  padding-bottom: 24px;
}

.about-content {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  padding-bottom: 24px;
}

.about-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background: #28a745;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 11px 35px;
}

.content-container {
  background: #28a745;
  padding: 40px 30px;
}



/* Cases section */

.cases-section {}

.cases-div {
  padding: 80px 28px;
}

.cases-text {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.cases-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.cases-description {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.cases-list {
  display: flex;
  row-gap: 24px;
  column-gap: 21px;
  flex-wrap: wrap;
}

.cases-item {
  width: calc((100% - 21px * 2) / 3);
}

.cases-img {}

/*Section 3 Blog*/

#blog {
  background: #0284d0;
}

.blog-container {
  display: flex;
}

.blog-content {
  background: #0284d0;
  padding: 80px 56px 80px 28px;
}

.blog-text {
  font-size: 20px;
  line-height: 1.65;
  color: #fff;
  padding-bottom: 8px;
}

.blog-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #fff;
  padding-bottom: 24px;
}

.blog-paragraph {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  padding-bottom: 24px;
}

.blog-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #0284d0;
  padding: 10px 36px;
}

.blog-img {
  display: flex;
  width: 670px;
  height: 460px;
}

.team {
  padding: 80px 0 60px;
}

.team-text {
  font-size: 20px;
  line-height: 1.64;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.team-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.team-subtitle {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.team-list {
  display: flex;
  gap: 20px;
}

.team .container {
  padding: 0 28px;
}

.team-item {
  width: calc((100% - 20px * 2)/3);
}

.team-inner {
  padding: 20px;
  text-align: center;
}

.team-item-title {
  margin-bottom: 13px;
}

.team-svg {
  fill: #000;
}

.team-wrapper {}

.team-img {}

.team-ovwerlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.team-social-list {}

.team-social-item {}

.team-svg {}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    flex-direction: row;
    padding: 0 32px;
    justify-content: space-between;
  }

  .logo-icon {
    padding-right: 10px;
  }

  .logo {
    font-size: 35px;
    line-height: 1.21;
    margin-bottom: 0;
  }

  .header-list {
    gap: 20px;
    padding: 28px 0;
  }

  .header-list-link {
    font-size: 18px;
    line-height: 1.56;
  }

  /* Hero */

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-tab.jpg);
    padding: 407px 141px 410px 134px;
  }

  @media screen and (--webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tab@2x.jpg);
    }
  }

  .hero-title {
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  .hero-text {
    margin-bottom: 32px;
  }
}

/* About */

.about-container {
  flex-direction: row;
}

.about-img {
  width: 368px;
  height: 589px;
}

.content-container {
  width: 52%;
  padding: 40px 53px 40px 32px;
}

.about-text {
  font-size: 20px;
  line-height: 1.55;
}

.about-content {
  font-size: 18px;
  line-height: 1.56;
}

.about-button {
  font-size: 18px;
  line-height: 1.56;
} 

@media (min-width: 1360px) {
  .container {
    max-width: 1360px;
  }

  .header-container {
    padding: 0 28px;
  }

  .header-list {
    gap: 40px;
    padding: 20px 0;
  }

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg);
    padding: 282px 0;
  }
  
  @media screen and (--webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg@2x.jpg);
    }
  }

  .content-container {
    padding: 80px 64px 80px 20px;
  }

  .about-img {
    width: 670px;
    height: 460px;
  }

  .about-title {
    max-width: unset;
  }
}