body {
  font-family: "Open Sans", san-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 0 28px;
  justify-content: space-between;
}

.logo {
  font-size: 35px;
  line-height: 1.21;
  color: #28a745;
}

.logo-span {
  color: #fff;
}

.header-nav {
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
  cursor: pointer;
}

.header-item {
}

.header-list-link {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  transition: color 250ms ease-in-out;
}

.header-list-link:hover,
.header-list-link:focus {
  color: #39c75a;
}

/* Hero */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/city.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111;
  padding: 282px 0;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 24px;
}

.hero-text {
  font-size: 22px;
  line-height: 1.7;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 32px;
}

.hero-btn {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #28a745;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #39c75a;
}

/*Section 1 About*/

#about {
  background: #28a745;
}

.about-container {
  display: flex;
}

.about-img {
  display: flex;
  width: 670px;
  height: 460px;
}

.about-text {
  font-size: 20px;
  line-height: 1.55;
  color: #fff;
  padding-bottom: 8px;
}

.about-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #fff;
  padding-bottom: 24px;
}

.about-content {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  padding-bottom: 24px;
}

.about-button {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  background: #28a745;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 11px 35px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.about-button:hover,
.about-button:focus {
  background-color: #fff;
  color: #28a745;
}

.content-container {
  background: #28a745;
  padding: 80px 64px 80px 20px;
}

/* Cases section */

.cases-section {
}

.cases-div {
  padding: 80px 28px;
}

.cases-text {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.cases-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.cases-description {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.cases-list {
  display: flex;
  row-gap: 24px;
  column-gap: 21px;
  flex-wrap: wrap;
}

.cases-item {
  width: calc((100% - 21px * 2) / 3);
}

.cases-img {
}

/*Section 3 Blog*/

#blog {
  background: #0284d0;
}

.blog-container {
  display: flex;
}

.blog-content {
  background: #0284d0;
  padding: 80px 56px 80px 28px;
}

.blog-text {
  font-size: 20px;
  line-height: 1.65;
  color: #fff;
  padding-bottom: 8px;
}

.blog-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #fff;
  padding-bottom: 24px;
}

.blog-paragraph {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  padding-bottom: 24px;
}

.blog-button {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #0284d0;
  padding: 10px 36px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.blog-button:hover,
.blog-button:focus {
  background-color: #28a745;
}

.blog-img {
  display: flex;
  width: 670px;
  height: 460px;
}

.team {
  padding: 80px 0 60px;
}

.team-text {
  font-size: 20px;
  line-height: 1.64;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.team-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.team-subtitle {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #333;
  margin-bottom: 24px;
}

.team-list {
  display: flex;
  gap: 20px;
}

.team .container {
  padding: 0 28px;
}

.team-item {
  width: calc((100% - 20px * 2) / 3);
}

.team-inner {
  padding: 20px;
  text-align: center;
}

.team-item-title {
  margin-bottom: 13px;
}

.team-svg {
  fill: #fff;
}

.team-wrapper {
  position: relative;
}

.team-img {
}

.team-ovwerlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-wrapper:hover .team-ovwerlay {
  opacity: 1;
}

.social-link:hover .team-svg {
  fill: #28a745;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.team-social-item {
}

.team-svg {
  transition: fill 250ms ease-in-out;
}

.request-wrapper {
  display: flex;
  justify-content: center;
}

.request-inner {
  background: #f4f4f4;
}

.request-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.27;
  color: #333;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.form-inner-box {
  display: flex;
  flex-direction: column;
  padding: 80px 28px 80px 20px;
}

.form-input {
  min-height: 40px;
  max-width: 620px;
  border: none;
  background-color: #fff;
}

.form-input:not(:last-child) {
  margin-bottom: 32px;
}

.form-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #808080;
}

.request-button {
  font-weight: 400;
  font-size: 18px;
  width: 642px;
  height: 42px;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #28a745;
}

.request-button:hover {
  background-color: #39c75a;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 6px;
}

.footer-social-item {}

.social-link {}

.footer-svg {
  fill: #fff;
  transition: fill 250ms ease-in-out;
}

.social-link:hover .footer-svg,
.social-link:focus .footer-svg {
  fill: #28a745;
}

.footer-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
}

